div{
    margin: 0 auto;
    border: 1px solid #000;
}
.one{
    width: 1200px;
    height: 500px;
}    
.two{
    width: 700px;
    height: 300px;
    margin-top: 100px;
    
}
.three{
    width: 500px;
    height: 150px;
    margin-top: 75px;
    
}